$color-brand:#FA586A;
$color-danger:#FA586A;
$color-dark:#293540;
$color-text:#293540;
$color-success:#FA596B;
$body-color : #FFFFFF;
// $object-color : #fafafb;
$object-color : #F0F1F3;
$color-warning: #F2CB05;
$error-color : #F52A46;
$color-text-in: #E4E5E8;
