<div class="content">
  <label *ngIf="!isUserAdmin" class="error align-right d-none d-sm-block">You are not an Admin</label>
    <section class="mt50">
        <div class="container-lg">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet portlet--height-full">
                        <div class="portlet__head">
                            <div class="portlet__head-caption">
                                <div class="portlet__head-title">
                                    <h3 class="portlet__head-text">Added Assets</h3>
                                </div>
                            </div>
                        </div>
                        <div class="portlet__body py0 px0" style="overflow-x: auto;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Token Name</th>
                                        <th class="text-right">ERC20 Address</th>
                                        <th class="text-right">CToken Address</th>
                                        <th class="text-right">Collateralization Ratio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let token of tokenData; let i = index">
                                        <td>{{ token.name }}</td>
                                        <td class="text-right">{{ token.tokenAddress }}</td>
                                        <td class="text-right">{{ token.cTokenAddress }}</td>
                                        <td class="text-right">{{ token.collateralFactor }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                  <div class="portlet portlet--height-full">
                      <div class="portlet__head">
                          <div class="portlet__head-caption">
                              <div class="portlet__head-title">
                                  <h3 class="portlet__head-text">Interest Rate Models</h3>
                              </div>
                          </div>
                      </div>
                      <div class="portlet__body py0 px0" style="overflow-x: auto;">
                          <table class="table">
                              <thead>
                                  <tr>
                                      <th>Address</th>
                                      <th class="text-center">Base Rate</th>
                                      <th class="text-center">Utilization Multiplier</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let irObj of irData; let i = index">
                                      <td>{{ irObj.address }}</td>
                                      <td class="text-center">{{ toDecimal(irObj.baseRate, 2) }} %</td>
                                      <td class="text-center">{{ toDecimal(irObj.multiplier, 2) }} %</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
                <div class="col-md-12">
                  <div class="portlet portlet--height-full">
                      <div class="portlet__head">
                          <div class="portlet__head-caption">
                              <div class="portlet__head-title">
                                  <h3 class="portlet__head-text">Add Market</h3>
                              </div>
                          </div>
                      </div>
                      <div class="portlet__body">
                          <div class="row">
                              <div class="col-lg-8 offset-lg-2">
                                  <form>
                                      <div class="form-group row">
                                          <label class="col-md-4">ERC20 Token Address</label>
                                          <div class="col-md-8">
                                            <input type="text" class="form-control" [(ngModel)]="erc20AddressFull" name="erc20AddressFull">
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <label class="col-md-4">Collateralization Ratio</label>
                                          <div class="col-md-8">
                                            <input type="text" class="form-control" [(ngModel)]="collateralFacFull" name="collateralFacFull">
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                        <label class="col-md-4">Interest Rate Model Address</label>
                                        <div class="col-md-8">
                                          <input type="text" class="form-control" [(ngModel)]="irModelAddrFull" name="irModelAddrFull">
                                        </div>
                                      </div>
                                      <div class="mt30 form-group row">
                                          <div class="col-md-4"></div>
                                          <div class="col-md-8">
                                              <button class="btn btn-lg btn-full btn-secondary" [disabled]="!isUserAdmin"
                                                (click)="addCompleteMarket()">Submit</button>
                                          </div>
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>

                <div class="col-md-6">
                    <div class="portlet portlet--height-full">
                        <div class="portlet__head">
                            <div class="portlet__head-caption">
                                <div class="portlet__head-title">
                                    <h3 class="portlet__head-text">List CToken</h3>
                                </div>
                            </div>
                        </div>
                        <div class="portlet__body">
                            <form>
                                <div class="form-group">
                                    <label>CToken Address</label>
                                    <input type="text" class="form-control" [(ngModel)]="cTokenAddress" name="cTokenAddress">
                                </div>
                                <!-- <div class="form-group">
                                    <label>Collateralization Ration</label>
                                    <input type="text" class="form-control" [(ngModel)]="cTokenRatio" name="cTokenRatio">
                                </div> -->
                                <div class="mt30">
                                    <button class="btn btn-lg btn-full btn-secondary" [disabled]="!isUserAdmin"
                                      (click)="addToken()">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                  <div class="portlet portlet--height-full">
                      <div class="portlet__head">
                          <div class="portlet__head-caption">
                              <div class="portlet__head-title">
                                  <h3 class="portlet__head-text">Update Collateralization Ratio</h3>
                              </div>
                          </div>
                      </div>
                      <div class="portlet__body">
                          <form>
                              <div class="form-group">
                                  <label>CToken Address</label>
                                  <input type="text" class="form-control" [(ngModel)]="cTkCollateralAddress" name="cTkCollateralAddress">
                              </div>
                              <div class="form-group">
                                  <label>New Collateralization Ratio</label>
                                  <input type="text" class="form-control" [(ngModel)]="cTokenRatio" name="cTokenRatio">
                              </div>
                              <div class="mt30">
                                  <button class="btn btn-lg btn-full btn-secondary" [disabled]="!isUserAdmin"
                                    (click)="updateCR()">Submit</button>
                              </div>
                          </form>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </section>
</div>
