<!-- Toolbar -->
<header>
  <div class="toolbar" role="banner">
    <img height="40" src="assets/img/Konkrete-logo.png" />
    <div class="spacer"></div>
    <!-- <a id="select-currency">USD</a> -->
    <a class="d-none d-sm-block" id="account">{{ userAddress }}</a>
  </div>
</header>

<div class="content" role="main">
  <section class="hero">
    <div class="container">
      <div class="row align-items-center justify-content-center text-center">
        <div class="col-sm-4 col-5 mb30">
          <label class="mb0" style="color: #1AD9C6;">Supply Balance</label>
          <div class="supply-balance">${{toDecimal(supplyBalance, 5)}}</div>
          <div class="d-block d-sm-none">
            <label class="color-danger mb0">Borrow Balance</label>
            <div class="borrow-balance">$0.0000</div>
          </div>
        </div>
        <div class="col-sm-4 col-7 mb30">
          <div class="progress-circle--container">
            <div class="progress progress-circle" data-percentage="100">
              <span class="progress-left">
                <span class="progress-bar"></span>
              </span>
              <span class="progress-right">
                <span class="progress-bar"></span>
              </span>
              <div class="progress-value">
                <div>
                  <span>Net APY</span>
                  {{toDecimal(netApy, 2)}}%
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-5 mb30 d-none d-sm-block">
          <label class="color-danger mb0">Borrow Balance</label>
          <div class="borrow-balance">${{toDecimal(borrowBalance, 5)}}</div>
        </div>
      </div>
      <div>
        <div class="progress-bar--container mb20">
          <label class="progress-title">Borrow&nbsp;Limit</label>
          <label class="progress-percent mr10">{{toDecimal(sliderPercentage, 2)}}%</label>
          <div class="progress progress-sm">
            <div class="progress-bar progress-success" role="progressbar" style="width: {{ sliderPercentage }}%" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <label class="ml10">${{ toDecimal(accountLiquidity, 2) }}</label>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container-lg">
      <div class="row">
        <div class="col-md-6">
          <div class="portlet portlet--height-full">
            <div class="portlet__head">
              <div class="portlet__head-caption">
                <div class="portlet__head-title">
                  <h3 class="portlet__head-text">Supply</h3>
                </div>
              </div>
            </div>
            <div class="portlet__body py0 px0">
              <div *ngIf="dataObj.showSupply" class="asset-list">
                <div class="labels row">
                  <div class="col-sm-4 col-4">
                    <label>Asset</label>
                  </div>
                  <div class="col-sm-3 col-4 text-right d-none d-sm-block">
                    <label>APY</label>
                  </div>
                  <div class="col-sm-3 col-4 text-right">
                    <label>Wallet</label>
                  </div>
                  <div class="col-sm-2 col-4 text-right">
                    <label>Collateral</label>
                  </div>
                </div>
                <div class="assets">
                  <a class="asset" *ngFor="let token of supplyData; let i = index" (click)="openSupplyModal(token.id)">
                    <div class="col-4 col-sm-4">
                      <div class="balance">
                        <div>{{token.name}}</div>
                        <span class="subtitle d-block d-sm-none">{{token.supplyApy}}%</span>
                      </div>
                    </div>
                    <div class="col-sm-3 text-right d-none d-sm-block">
                      <div class="balance">
                        <div>{{token.supplyApy}}%</div>
                      </div>
                    </div>
                    <div class="col-4 col-sm-3 text-right">
                      <div class="balance">
                        <div>${{ toDecimal(token.supplyBalance,2) }}</div>
                        <div>{{toDecimal(token.cTokenSupplyBalance,2)}} {{ token.name }}</div>
                      </div>
                    </div>
                    <div class="col-4 col-sm-2 text-right">
                      <mat-slide-toggle [checked]="token.enabled" [disabled]="false" (change)="enterExitMarket(token)">
                      </mat-slide-toggle>
                    </div>
                  </a>
                </div>
              </div>
              <div *ngIf="dataObj.showSupplyToken"  class="asset-list">
                <div class="labels row">
                  <div class="col-sm-4 col-4">
                    <label>Asset</label>
                  </div>
                  <div class="col-sm-3 col-4 text-right d-none d-sm-block">
                    <label>APY</label>
                  </div>
                  <div class="col-sm-3 col-4 text-right">
                    <label>Wallet</label>
                  </div>
                  <div class="col-sm-2 col-4 text-right">
                    <label>Collateral</label>
                  </div>
                </div>
                <div class="assets">
                  <a class="asset" *ngFor="let token of supplyTokenData; let i = index" (click)="openSupplyModal(token.id)">
                    <div class="col-4 col-sm-4">
                      <div class="balance">
                        <div>{{token.name}}</div>
                        <span class="subtitle d-block d-sm-none">{{token.supplyApy}}%</span>
                      </div>
                    </div>
                    <div class="col-sm-3 text-right d-none d-sm-block">
                      <div class="balance">
                        <div>{{token.supplyApy}}%</div>
                      </div>
                    </div>
                    <div class="col-4 col-sm-3 text-right">
                      <div class="balance">
                        <div>{{ token.tokenBalance }} {{ token.name }}</div>
                      </div>
                    </div>
                    <div class="col-4 col-sm-2 text-right">
                      <mat-slide-toggle [checked]="token.enabled" [disabled]="false" (change)="enterExitMarket(token)">
                      </mat-slide-toggle>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="portlet portlet--height-full">
            <div class="portlet__head">
              <div class="portlet__head-caption">
                <div class="portlet__head-title">
                  <h3 class="portlet__head-text">Available to Borrow</h3>
                </div>
              </div>
            </div>
            <div class="portlet__body py0 px0">
              <div *ngIf="dataObj.showBorrow" class="asset-list">
                <div class="labels row">
                  <div class="col-sm-4 col-4">
                    <label>Asset</label>
                  </div>
                  <div class="col-sm-3 col-4 text-right d-none d-sm-block">
                    <label>APY</label>
                  </div>
                  <div class="col-sm-3 col-4 text-right">
                    <label>Wallet</label>
                  </div>
                  <div class="col-sm-2 col-4 text-right">
                    <label>% Of Limit</label>
                  </div>
                </div>
                <div class="assets">
                  <a class="asset" *ngFor="let token of borrowData; let i = index" (click)="openBorrowModal(token.id)">
                    <div class="col-4 col-sm-4">
                      <div class="balance">
                        <div>{{token.name}}</div>
                        <span class="subtitle d-block d-sm-none">{{token.borrowApy}}%</span>
                      </div>
                    </div>
                    <div class="col-sm-3 text-right d-none d-sm-block">
                      <div class="balance">
                        <div>{{token.borrowApy}}%</div>
                      </div>
                    </div>
                    <div class="col-4 col-sm-3 text-right">
                      <div class="balance">
                        <div>${{ toDecimal(token.borrowBalance,2) }}</div>
                        <div>{{toDecimal(token.tokenBorrowBalance,2)}} {{ token.name }}</div>
                      </div>
                    </div>
                    <div class="col-4 col-sm-2 text-right">
                      {{toDecimal(sliderPercentage, 2)}}%
                    </div>
                  </a>
                </div>
              </div>
              <div *ngIf="dataObj.showBorrowToken"  class="asset-list">
                <div class="labels row">
                  <div class="col-sm-4 col-4">
                    <label>Asset</label>
                  </div>
                  <div class="col-sm-3 col-4 text-right d-none d-sm-block">
                    <label>APY</label>
                  </div>
                  <div class="col-sm-3 col-4 text-right">
                    <label>Wallet</label>
                  </div>
                  <div class="col-sm-2 col-4 text-right">
                    <label>% Of Limit</label>
                  </div>
                </div>
                <div class="assets">
                  <a class="asset" *ngFor="let token of borrowTokenData; let i = index" (click)="openBorrowModal(token.id)">
                    <div class="col-4 col-sm-4">
                      <div class="balance">
                        <div>{{token.name}}</div>
                        <span class="subtitle d-block d-sm-none">{{token.borrowApy}}%</span>
                      </div>
                    </div>
                    <div class="col-sm-3 text-right d-none d-sm-block">
                      <div class="balance">
                        <div>{{token.borrowApy}}%</div>
                      </div>
                    </div>
                    <div class="col-4 col-sm-3 text-right">
                      <div class="balance">
                        <div>{{ token.tokenBalance }} {{token.name}}</div>
                      </div>
                    </div>
                    <div class="col-4 col-sm-2 text-right">
                      0%
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-md-6">
          <div class="portlet portlet--height-full">
            <div class="portlet__body py0 px0">
              <div class="asset-list">
                <div class="labels row">
                  <div class="col-sm-4 col-4">
                    <label>Asset</label>
                  </div>
                  <div class="col-sm-3 col-4 text-right d-none d-sm-block">
                    <label>APY</label>
                  </div>
                  <div class="col-sm-3 col-4 text-right">
                    <label>Wallet</label>
                  </div>
                  <div class="col-sm-2 col-4 text-right">
                    <label>Collateral</label>
                  </div>
                </div>
                <div class="assets">
                  <a class="asset" *ngFor="let token of tokenData; let i = index" (click)="openSupplyModal(i)">
                    <div class="col-4 col-sm-4">
                      <div class="balance">
                        <div>{{token.name}}</div>
                        <span class="subtitle d-block d-sm-none">{{token.supplyApy}}%</span>
                      </div>
                    </div>
                    <div class="col-sm-3 text-right d-none d-sm-block">
                      <div class="balance">
                        <div>{{token.supplyApy}}%</div>
                      </div>
                    </div>
                    <div class="col-4 col-sm-3 text-right">
                      <div class="balance">
                        <div>{{ token.tokenBalance }} {{ token.name }}</div>
                      </div>
                    </div>
                    <div class="col-4 col-sm-2 text-right">
                      <mat-slide-toggle [checked]="token.enabled" [disabled]="false" (change)="enterExitMarket(token)">
                      </mat-slide-toggle>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="portlet portlet--height-full">
            <div class="portlet__body py0 px0">
              <div class="asset-list">
                <div class="labels row">
                  <div class="col-sm-4 col-4">
                    <label>Asset</label>
                  </div>
                  <div class="col-sm-3 col-4 text-right d-none d-sm-block">
                    <label>APY</label>
                  </div>
                  <div class="col-sm-3 col-4 text-right">
                    <label>Wallet</label>
                  </div>
                  <div class="col-sm-2 col-4 text-right">
                    <label>% Of Limit</label>
                  </div>
                </div>
                <div class="assets">
                  <a class="asset" *ngFor="let token of tokenData; let i = index" (click)="openBorrowModal(i)">
                    <div class="col-4 col-sm-4">
                      <div class="balance">
                        <div>{{token.name}}</div>
                        <span class="subtitle d-block d-sm-none">{{token.borrowApy}}%</span>
                      </div>
                    </div>
                    <div class="col-sm-3 text-right d-none d-sm-block">
                      <div class="balance">
                        <div>{{token.borrowApy}}%</div>
                      </div>
                    </div>
                    <div class="col-4 col-sm-3 text-right">
                      <div class="balance">
                        <div>{{ token.tokenBalance }} {{token.name}}</div>
                      </div>
                    </div>
                    <div class="col-4 col-sm-2 text-right">
                      0%
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </section>
</div>

<div class="modal fade" id="supplyModal" tabindex="-1" role="dialog" aria-labelledby="supplyModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content" style="background-color: #E6EDF6;">
      <div class="modal-body py0 px0">
        <div class="row my0 mx0">
          <div class="col-lg-6 py0 px0" style="background-color: #fff;">
            <div class="py15 px15 d-block d-lg-none">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="my20 mx15" id="supplyGroup" style="position: relative;">
              <select id="supply" name="supply" class="select2-main" style="width: 100%;"></select>
            </div>
            <div class="d-none d-lg-block">
              <!-- <canvas id="supplyChart" style="height: 200px;"></canvas> -->
            </div>
            <div class="px15">
              <div class="calculation">
                <span class="description">Supply APY</span>
                <span class="color-success">{{tokenData[selectedTokenIndex].supplyApy}}%</span>
              </div>
              <div class="calculation">
                <span class="description">Price</span>
                <span>$ {{tokenData[selectedTokenIndex].priceUsd}}</span>
              </div>
              <div class="calculation">
                <span class="description">Collateral Factor</span>
                <span>{{tokenData[selectedTokenIndex].collateralFactor}}%</span>
              </div>
              <div class="calculation">
                <span class="description">Wallet</span>
                <span>{{toDecimal(tokenData[selectedTokenIndex].tokenBalance, 2)}} {{ tokenData[selectedTokenIndex].name }}</span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 py0 px0">
            <div class="py15 px15">
              <button type="button" class="close d-none d-lg-block" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="form" *ngIf="tokenData[selectedTokenIndex].approved">
                <div class="row">
                  <div class="col-6">
                    <button [ngClass]="{'active': typeViewSupply == 'withdraw'}"
                      class="btn btn-lg btn-full btn-secondary" (click)="viewWithdrawForm()">Withdraw</button>
                  </div>
                  <div class="col-6">
                    <button [ngClass]="{'active': typeViewSupply == 'supply'}" class="btn btn-lg btn-full btn-secondary"
                      (click)="viewSupplyForm()">Supply</button>
                  </div>
                </div>
                <div class="my30">
                  <form>
                    <div class="row align-items-center">
                      <div class="col-9">
                        <input type="text" class="form-control form-control-lg text-center" placeholder="0" [(ngModel)]="amountInput" name="amountInput">
                      </div>
                      <!-- <div class="col-3 text-center">
                        <a href="" class="link">
                          SAFE MAX
                        </a>
                      </div> -->
                    </div>
                  </form>
                  <div class="mt30">
                    <div class="calculation">
                      <span class="description">Supply Balance</span>
                      <span>
                        ${{toDecimal(tokenData[selectedTokenIndex].supplyBalance, 3)}}
                        <!-- <mat-icon aria-hidden="false">arrow_forward</mat-icon>
                        $0.00 -->
                      </span>
                    </div>
                    <div class="calculation">
                      <span class="description">Borrow Limit</span>
                      <span>
                        $ {{ toDecimal(accountLiquidity, 2) }}
                        <!-- <mat-icon aria-hidden="false">arrow_forward</mat-icon>
                        $0.00 -->
                      </span>
                    </div>
                  </div>
                </div>
                <div>
                  <button class="btn btn-lg btn-full btn-secondary" (click)="withdrawUnderlying()"
                    *ngIf="typeViewSupply == 'withdraw'">Withdraw</button>
                  <button class="btn btn-lg btn-full btn-secondary" (click)="mint()"
                    *ngIf="typeViewSupply == 'supply'">Supply</button>
                    <div *ngIf="tokenData[selectedTokenIndex].name == 'IVTDemo'"
                      class="text-center my20" (click)="faucetIvt()">
                      <a href="#" class="link">Faucet</a>
                    </div>
                </div>
              </div>
              <div class="form mt100" *ngIf="!tokenData[selectedTokenIndex].approved">
                <div class="text-center">
                  <mat-icon style="font-size: 3rem;" aria-hidden="false">error_outline</mat-icon>
                </div>
                <div class="mt20 mb30" style="font-weight: 500;">
                  To use cDAI with the Konkrete, you need to enable it first.
                </div>
                <button class="btn btn-lg btn-full btn-secondary" (click)="enableSupplyCollateral()">Enable</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="borrowModal" tabindex="-1" role="dialog" aria-labelledby="borrowModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content" style="background-color: #E6EDF6;">
      <div class="modal-body py0 px0">
        <div class="row my0 mx0">
          <div class="col-lg-6 py0 px0" style="background-color: #fff;">
            <div class="py15 px15 d-block d-lg-none">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="my20 mx15" id="borrowGroup" style="position: relative;">
              <select id="borrow" name="borrow" class="select2-main" style="width: 100%;"></select>
            </div>
            <div class="d-none d-lg-block">
              <!-- <canvas id="borrowChart" style="height: 200px;"></canvas> -->
            </div>
            <div class="px15">
              <div class="calculation">
                <span class="description">Borrow APY</span>
                <span class="color-danger">{{tokenData[selectedTokenIndex].borrowApy}}%</span>
              </div>
              <div class="calculation">
                <span class="description">Price</span>
                <span>$ {{tokenData[selectedTokenIndex].priceUsd}}</span>
              </div>
              <div class="calculation">
                <span class="description">Borrow Balance</span>
                <span>{{toDecimal((tokenData[selectedTokenIndex].tokenBorrowBalance), 2)}} {{ tokenData[selectedTokenIndex].name }}</span>
              </div>
              <div class="calculation">
                <span class="description">Wallet</span>
                <span>{{tokenData[selectedTokenIndex].tokenBalance}} {{ tokenData[selectedTokenIndex].name }}</span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 py0 px0">
            <div class="py15 px15">
              <button type="button" class="close d-none d-lg-block" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="form" *ngIf="tokenData[selectedTokenIndex].approved">
                <div class="row">
                  <div class="col-6">
                    <button [ngClass]="{'active': typeViewBorrow == 'repay'}" class="btn btn-lg btn-full btn-danger"
                      (click)="viewRepayForm()">Repay</button>
                  </div>
                  <div class="col-6">
                    <button [ngClass]="{'active': typeViewBorrow == 'borrow'}" class="btn btn-lg btn-full btn-danger"
                      (click)="viewBorrowForm()">Borrow</button>
                  </div>
                </div>
                <div class="my30">
                  <form>
                    <div class="row align-items-center">
                      <div class="col-9">
                        <input type="text" class="form-control form-control-lg text-center" placeholder="0" [(ngModel)]="amountInput" name="amountInput">
                      </div>
                      <!-- <div class="col-3 text-center">
                        <a href="" class="link">
                          SAFE MAX
                        </a>
                      </div> -->
                    </div>
                  </form>
                  <div class="mt30">
                    <div class="calculation">
                      <span class="description">Borrow Limit</span>
                      <span>$ {{ toDecimal(accountLiquidity, 2) }}</span>
                    </div>
                    <div class="calculation">
                      <span class="description">Borrow Balance</span>
                      <span>$ {{toDecimal(borrowBalance, 3)}}</span>
                    </div>
                  </div>
                </div>
                <div>
                  <button class="btn btn-lg btn-full btn-danger"
                    (click)="repayBorrow()" *ngIf="typeViewBorrow == 'repay'">Repay</button>
                  <button class="btn btn-lg btn-full btn-danger"
                    (click)="borrow()" *ngIf="typeViewBorrow == 'borrow'">Borrow</button>
                </div>
              </div>
              <div class="form mt100" *ngIf="!tokenData[selectedTokenIndex].approved">
                <div class="text-center">
                  <mat-icon style="font-size: 3rem;" aria-hidden="false">error_outline</mat-icon>
                </div>
                <div class="mt20 mb30" style="font-weight: 500;">
                  To use cDAI with the Konkrete, you need to enable it first.
                </div>
                <button class="btn btn-lg btn-full btn-danger" (click)="enableBorrowCollateral()">Enable</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
