<div class="content" role="main">
    <section class="hero">
        <div class="container">
            <div class="row align-items-center justify-content-center text-center">
                <!-- <div class="col-sm-4 col-5 mb30">
                    <label class="mb0" style="color: #1AD9C6;">My Deployed Balance</label>
                    <div class="supply-balance">${{toDecimal(totalSupplyBalance, 7)}}</div>
                    <div class="d-block d-sm-none">
                        <label class="color-danger mb0">Borrow Balance</label>
                        <div class="borrow-balance">$0.0000</div>
                    </div>
                </div> -->
                <div class="col-sm-12 col-md-4 mb30">
                  <div class="row">
                      <div class="col-sm-6 col-md-12">
                          <label class="mb0" style="color: #1AD9C6;">Total Deployed on Market</label>
                          <div class="supply-balance color-danger">${{localeString(totalCashDeployed, 0)}}</div>
                      </div>
                      <div class="col-sm-6 col-md-12" style="margin-top: 0.7em;">
                          <label class="mb0" style="color: #1AD9C6;">My Deployed Balance</label>
                          <div class="supply-balance color-danger">${{toDecimal(totalSupplyBalance, 7)}}</div>
                      </div>
                  </div>
                </div>
                <div class="col-sm-4 col-7 mb30">
                    <div class="progress-circle--container">
                        <div class="progress progress-circle" data-percentage="100">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">
                                <div>
                                    <span>Net APY</span>
                                    {{toDecimal(apyData.netApy, 2)}}%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-sm-4 col-5 mb30 d-none d-sm-block">
                    <label class="color-danger mb0">Borrow Balance</label>
                    <div class="borrow-balance">${{toDecimal(borrowBalance, 7)}}</div>
                </div> -->
                <div class="col-sm-12 col-md-4 mb30">
                    <div class="row">
                        <div class="col-sm-6 col-md-12">
                            <label class="mb0" style="color: #1AD9C6;">Total Collateral on Market</label>
                            <div class="borrow-balance color-danger">${{localeString(totalAssetTokenSupply, 0)}}</div>
                        </div>
                        <div class="col-sm-6 col-md-12" style="margin-top: 0.7em;">
                            <label class="mb0" style="color: #1AD9C6;">Total Loans on Market</label>
                            <div class="borrow-balance color-danger">${{localeString(totalCashLoans, 0)}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div>
                <div class="progress-bar--container mb20">
                    <label class="progress-title">Borrow&nbsp;Limit</label>
                    <label class="progress-percent mr10">{{toDecimal(sliderPercentage, 2)}}%</label>
                    <div class="progress progress-sm">
                        <div class="progress-bar progress-success" role="progressbar"
                            style="width: {{ sliderPercentage }}%" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <label class="ml10">${{ toDecimal(accountLiquidity, 2) }}</label>
                </div>
            </div> -->
        </div>
    </section>
    <section>
        <div class="container-lg">
            <div class="row">
                <div class="col-md-6">
                    <div class="portlet portlet--height-full">
                        <div class="portlet__head">
                            <div class="portlet__head-caption">
                                <div class="portlet__head-title">
                                    <h3 class="portlet__head-text">Deploy</h3>
                                </div>
                            </div>
                        </div>
                        <div class="portlet__body py0 px0">
                            <div class="asset-list">
                                <div class="labels row">
                                    <div class="col-sm-4 col-4">
                                        <label>Asset</label>
                                    </div>
                                    <div class="col-sm-3 col-3 text-left d-none d-sm-block">
                                        <label>APY</label>
                                    </div>
                                    <div class="col-sm-3 col-3 text-left">
                                        <label>Non Deployed</label>
                                    </div>
                                    <div class="col-sm-2 col-3 text-left">
                                        <label>Deployed</label>
                                    </div>
                                </div>
                                <div class="assets">
                                    <a class="asset" *ngFor="let token of cashTokenData; let i = index"
                                        (click)="openSupplyModal(token.id)">
                                        <div class="col-4 col-sm-4">
                                            <div class="balance">
                                                <img src="assets/img/{{ token.symbol }}_logo.png" alt="{{ token.symbol }} logo" class="token-logos" />
                                                <div style="display: inline-block;">{{token.symbol}}</div>
                                                <span class="subtitle d-block d-sm-none">{{token.supplyApy}}%</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-3 text-left d-none d-sm-block">
                                            <div class="balance">
                                                <div>{{token.supplyApy}}%</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-3 text-left">
                                            <div class="balance">
                                                <div>{{ toDecimal(token.tokenBalance, 2) }} <!-- {{ token.symbol }} --></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-3 text-left">
                                          <div class="balance">
                                              <div>${{ toDecimal(token.cTokenSupplyBalanceUSD, 2) }} <!-- {{ token.symbol }} --></div>
                                          </div>
                                          <div class="balance">
                                            <div>{{ toDecimal(token.cTokenSupplyBalance, 2) }} {{ token.symbol }}</div>
                                          </div>
                                        </div>
                                        <!-- <div class="col-4 col-sm-2 text-right">
                                            <mat-slide-toggle [checked]="token.enabled" [disabled]="false"
                                                (change)="enterExitMarket(token)">
                                            </mat-slide-toggle>
                                        </div> -->
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="portlet portlet--height-full">
                        <div class="portlet__head">
                            <div class="portlet__head-caption">
                                <div class="portlet__head-title">
                                    <h3 class="portlet__head-text">Asset Explorer</h3>
                                </div>
                            </div>
                        </div>
                        <div class="portlet__body py0 px0">
                            <div class="asset-list">
                                <div class="labels row">
                                    <div class="col-sm-2 col-3">
                                        <label>Asset</label>
                                    </div>
                                    <div class="col-sm-4 col-4 text-left">
                                        <label>Type</label>
                                    </div>
                                    <div class="col-sm-4 col-3 text-left">
                                        <label>Collateral Value</label>
                                    </div>
                                    <div class="col-sm-2 col-2 text-left">
                                        <label>Tokens</label>
                                    </div>
                                </div>
                                <div class="assets">
                                    <div class="asset" style="cursor: default;" *ngFor="let token of assetTokenData; let i = index">
                                        <div class="col-sm-2 col-3">
                                            <div class="balance">
                                                <img src="assets/img/ether_logo.png" style="max-height: 30px;" alt="Ether logo" />
                                                <div style="display: inline-block;">{{token.symbol}}</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-4 text-left">
                                            <div class="balance">
                                                <div>
                                                  <a href="https://www.konkrete.io/queen-street" target="_blank">Mortgage, Real Estate</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-3 text-left">
                                            <div class="balance">
                                                <div>{{localeString(token.erc20TotalSupply, 0)}}</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-2 text-left">
                                            <!-- <div><a href="{{ token.erc20Link }}" target="_blank">Link</a></div> -->
                                            <div><a href="https://etherscan.io/address/0xcd90e3093be92ebdb48510349a1cf5f63c3977d5#readContract"
                                              target="_blank">Link</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-6">
                    <div class="portlet portlet--height-full">
                        <div class="portlet__head">
                            <div class="portlet__head-caption">
                                <div class="portlet__head-title">
                                    <h3 class="portlet__head-text">Available to Borrow</h3>
                                </div>
                            </div>
                        </div>
                        <div class="portlet__body py0 px0">
                            <div *ngIf="dataObj.showBorrow" class="asset-list">
                                <div class="labels row">
                                    <div class="col-sm-4 col-4">
                                        <label>Asset</label>
                                    </div>
                                    <div class="col-sm-3 col-4 text-right d-none d-sm-block">
                                        <label>APY</label>
                                    </div>
                                    <div class="col-sm-3 col-4 text-right">
                                        <label>Wallet</label>
                                    </div>
                                    <div class="col-sm-2 col-4 text-right">
                                        <label>% Of Limit</label>
                                    </div>
                                </div>
                                <div class="assets">
                                    <a class="asset" *ngFor="let token of borrowData; let i = index"
                                        (click)="openBorrowModal(token.id)">
                                        <div class="col-4 col-sm-4">
                                            <div class="balance">
                                                <div>{{token.symbol}}</div>
                                                <span class="subtitle d-block d-sm-none">{{token.borrowApy}}%</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 text-right d-none d-sm-block">
                                            <div class="balance">
                                                <div>{{token.borrowApy}}%</div>
                                            </div>
                                        </div>
                                        <div class="col-4 col-sm-3 text-right">
                                            <div class="balance">
                                                <div>${{ toDecimal(token.borrowBalance,2) }}</div>
                                                <div>{{toDecimal(token.tokenBorrowBalance,2)}} {{ token.symbol }}</div>
                                            </div>
                                        </div>
                                        <div class="col-4 col-sm-2 text-right">
                                            {{toDecimal(sliderPercentage, 2)}}%
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div *ngIf="dataObj.showBorrowToken" class="asset-list">
                                <div class="labels row">
                                    <div class="col-sm-4 col-4">
                                        <label>Asset</label>
                                    </div>
                                    <div class="col-sm-3 col-4 text-right d-none d-sm-block">
                                        <label>APY</label>
                                    </div>
                                    <div class="col-sm-3 col-4 text-right">
                                        <label>Wallet</label>
                                    </div>
                                    <div class="col-sm-2 col-4 text-right">
                                        <label>% Of Limit</label>
                                    </div>
                                </div>
                                <div class="assets">
                                    <a class="asset" *ngFor="let token of borrowTokenData; let i = index"
                                        (click)="openBorrowModal(token.id)">
                                        <div class="col-4 col-sm-4">
                                            <div class="balance">
                                                <div>{{token.symbol}}</div>
                                                <span class="subtitle d-block d-sm-none">{{token.borrowApy}}%</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 text-right d-none d-sm-block">
                                            <div class="balance">
                                                <div>{{token.borrowApy}}%</div>
                                            </div>
                                        </div>
                                        <div class="col-4 col-sm-3 text-right">
                                            <div class="balance">
                                                <div>{{ toDecimal(token.tokenBalance, 3) }} {{token.symbol}}</div>
                                            </div>
                                        </div>
                                        <div class="col-4 col-sm-2 text-right">
                                            0%
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <!-- <div class="row text-center" style="margin-bottom: 1em; margin-top: -0.8em;">
                <div class="col-md-12">
                    <a href="/faq" style="font-size: 1.2em; font-weight: 500;" target="_blank">FAQs</a><br>
                </div>
            </div> -->
        </div>
    </section>
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center wow zoomIn">
                        <h1>Frequently Asked Questions</h1>
                        <br>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        What is the OTL?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <p>OTL stands for Open Token Lending. Right now we are in the alpha version of a proposed uniswap style fully decentralized and censorship resistant token lending protocol in which any token can be lent against any other token as collateral. </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        How do I interact with the OTL?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <p>You can connect via metamask to the OTL and supply DAI, USDC and USDT to the platform and start earning interest immediately. You may withdraw your deployed tokens at any time, including accrued interest (provided there is liquidity, which we are working towards improving). <br><br> In due course we will be adding support for other wallets such as Ledger, Trezor etc as well. </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        What can I lend with?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <p>While eventually it should be possible to lend any token against any token, right now we allow DAI, USDC and USDT. More currency pegged tokens will be added in the coming days on the lending side.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Who can borrow from the platform? What is being used as collateral?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="panel-body">
                                    <p>Eventually anyone with tokenised assets can borrow from the platform by using the asset as collateral. Right now we have tokenized a commercial property loan in Victoria, Australia and are using that as collateral. You can check details of the property and the loan from the Asset Explorer. To ensure a good amount of over collateralization for lenders we have picked a loan which is only lending to 60% of the property’s value. On top of that, we have a collateral factor of 80% of the value of the loan on the system. </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFive">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        What is the Asset Explorer?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                <div class="panel-body">
                                    <p>The asset explorer is where you can view the tokenized assets being used as collateral on the system. It includes the token name, the type of asset, it’s collateral value on the system, and the link to the token contract itself. By clicking the link under asset Type, you will be directed to an information page with more details on the asset including any relevant loan agreements. </p>
                                    <br>
                                    <img src="assets/img/faqs/asset_explorer.png" class="mx-auto d-block img-fluid" style="max-width: 600px; margin: auto" />
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingSix">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        How often is interest calculated? Can I take my deployed funds out any time?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                                <div class="panel-body">
                                    <p>Interest is calculated per each ethererum block which is roughly every 15 seconds. You can take out your funds, including interest, anytime - provided there is enough liquidity in the pool. Liquidity of a particular asset is shown when you click the asset. In the example below, it shows that 10 USDT can be withdrawn from the pool. </p>
                                    <br>
                                    <img src="assets/img/faqs/sample_modal.png" class="mx-auto d-block img-fluid" style="max-width: 600px; margin: auto;" />
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingSeven">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                        What is the road map for allowing other tokens as collateral?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                                <div class="panel-body">
                                    <p>We have created an admin module via which new tokens can be added as collateral. You can check it here at <a href="https://app.konkrete.finance/admin"> https://app.konkrete.finance/admin </a> <br> <br> As soon as initial testing is complete, we will be opening up the new token addition to be done via a community vote. </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingEight">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                        What is the expected process for adding new collateral?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                                <div class="panel-body">
                                    <p>We are planning to distribute platform tokens which would entitle its holders to any fees generated from the platform and the right to vote on any decisions about the platform. <br><br> Any token holder will be able to put up executable code as a proposal which would be put up to community vote and if approved will lead to updates to the platform. <br><br> Adding new tokens as collateral would follow the same process. <br><br> Eventually we expect the need for an admin signed off process to be eliminated with an architecture that allows any token to be borrowed against any token. <br><br> <a href="https://medium.com/konkrete/borrowing-any-token-using-any-token-as-collateral-742f6e33495f?source=collection_home---4------8-----------------------" target="_blank"> Read more </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingNine">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseEight">
                                        Where can I find the platform tokens?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                                <div class="panel-body">
                                    <p>Once the alpha is complete, platform tokens will be distributed to investors, advisors, core team and to the community. Stay tuned for updates. </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTen">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseNine">
                                        Is the OTL meant to allow real world tokens as collateral?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                                <div class="panel-body">
                                    <p>The OTL is agnostic of what kinds of assets are represented via the tokens. It is meant to be a decentralized and censorship resistant lending protocol. What assets are added to it are expected to be determined by the community once the alpha is complete and soon after that even those permissions will not be needed. <br><br> In terms of how real world asset tokenization can be achieved and our thoughts around it <a href="https://medium.com/konkrete/real-world-asset-tokenization-protocol-6778047ca578"> please refer to this article. </a> <br><br> Note that the OTL and the real world asset tokenization efforts are independent of each other. Composability makes it possible for them to talk to each other. </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingEleven">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                        What are kTokens?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
                                <div class="panel-body">
                                    <p>kTokens are similar to cTokens, or aTokens and iTokens etc from other money market platforms out there. They represent your claim to the money you have deployed on the platform and its interest. <br><br> Once you deploy DAI, USDC, USDT to the platform you will receive an ERC20 kDAI, kUSDC, kUSDT respectively. These are interest bearing tokens and steadily rise in value. <br><br> While on the platform interface they are not visible, you may check them in your metamask by adding those custom tokens. </p> <br> The addresses are <br><br>
                                    <table class="table table-bordered col-md-10 offset-md-1 col-sm-12 text-justify">
                                        <tbody>
                                          <tr>
                                            <td>kDAI</td>
                                            <td>0xE5C6c14F466A4F3A73eCEc7F3aAaA15c5EcBc769</td>
                                          </tr>
                                          <tr>
                                            <td>kUSDC</td>
                                            <td>0x882Ec5A4a22b110BE602762E85758A02943de187</td>
                                          </tr>
                                          <tr>
                                            <td>kUSDT</td>
                                            <td>0x5eddA8366d9221fc8aF079248f03c82763f0C193</td>
                                          </tr>
                                        </tbody>
                                    </table>
                                    <br>
                                    Eventually these kTokens should be freely tradeable themselves and can serve as a medium of exchange.
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--- END COL -->
            </div><!--- END ROW -->
        </div>
    </section>
</div>

<div  class="modal fade" id="previewModal" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color: #E6EDF6;">
            <div class="modal-body py0 px0">
                <div class="row my0 mx0">
                    <div class="col-lg-12 py0 px0" style="background-color: #fff; height: 550px;    ">
                        <div class="py15 px15 d-block">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div id="carouselExampleControls" class="carousel slide carousel-fade" data-interval="false">
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              <img class="d-block intro-slideshow-img" src="assets/img/slide-show/1.png" alt="First slide">
                              <h3 class="intro-slideshow-text">Welcome to the OTL, a decentralized lending protocol that allows lending of any ERC20 token against any other ERC20 token as collateral.<br><br>You can start lending with USDC, DAI, USDT, and ADR, and earn interest on it right away.
                              </h3>
                            </div>
                            <div class="carousel-item">
                              <img class="d-block intro-slideshow-img" src="assets/img/slide-show/2.png" alt="Second slide">
                              <h3 class="intro-slideshow-text">To get started simply connect with MetaMask. If you don’t have MetaMask, you can download it from <a href="https://metamask.io" target="_blank">https://metamask.io/</a>
                              </h3>
                            </div>
                            <div class="carousel-item">
                              <img class="d-block intro-slideshow-img" src="assets/img/slide-show/3.png" alt="Third slide">
                              <h3 class="intro-slideshow-text">Once connected to MetaMask, your screen will look like something above. On left hand side you can see all the ERC20 tokens you can lend with, their current lending rates and how much you have deployed vs left in your wallet.
                              </h3>
                            </div>
                            <div class="carousel-item">
                              <img class="d-block intro-slideshow-img" src="assets/img/slide-show/4.png" alt="Fourth slide">
                              <h3 class="intro-slideshow-text">On the right hand side you can see all the ERC20 tokens currently being used as collateral with its details via the blue links.
                              </h3>
                            </div>
                            <div class="carousel-item">
                              <img class="d-block intro-slideshow-img" src="assets/img/slide-show/5.png" alt="Fifth slide">
                              <h3 class="intro-slideshow-text">At the top of the page you can see the total collateral on the market, the total loans utilised on market, your total deployed balance, as well as your current overall rate of return.
                              </h3>
                            </div>
                            <div class="carousel-item">
                              <img class="d-block intro-slideshow-img" src="assets/img/slide-show/6.png" alt="Sixth slide">
                              <h3 class="intro-slideshow-text">The interest rate changes dynamically based on supply and demand as people deploy to and withdraw from the pool.
                              </h3>
                            </div>
                            <div class="carousel-item">
                              <img class="d-block intro-slideshow-img" src="assets/img/slide-show/7.png" alt="Seventh slide">
                              <h3 class="intro-slideshow-text">To deploy, simply select the token you wish to deploy by clicking on it.
                              </h3>
                            </div>
                            <div class="carousel-item">
                              <img class="d-block intro-slideshow-img" src="assets/img/slide-show/8.png" alt="Eighth slide">
                              <h3 class="intro-slideshow-text">Enable the token. A prompt will come up on MetaMask asking for your confirmation. Once confirmed, the page will refresh and should look like the above.<br>Enter the amount you wish to deploy and press Deploy. Your money starts earning interest immediately!</h3>
                            </div>
                            <div class="carousel-item">
                              <img class="d-block intro-slideshow-img" src="assets/img/slide-show/9.png" alt="Ninth slide">
                              <h3 class="intro-slideshow-text">To withdraw, simply hit the withdraw button with your desired amount. Given enough liquidity, the tokens will flow back to your wallet.</h3>
                            </div>
                            <div class="carousel-item">
                              <img class="d-block intro-slideshow-img" src="assets/img/slide-show/1.png" alt="Tenth slide">
                              <h3 class="intro-slideshow-text">That’s it! <br>Interest will start accruing every 15 seconds or so.<br> Thank you for using the OTL.</h3>
                            </div>
                          </div>
                          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <!-- <span class="sr-only">Previous</span> -->
                          </a>
                          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <!-- <span class="sr-only">Next</span> -->
                          </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="loadComplete" class="modal fade" id="supplyModal" tabindex="-1" role="dialog" aria-labelledby="supplyModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color: #E6EDF6;">
            <div class="modal-body py0 px0">
                <div class="row my0 mx0">
                    <div class="col-lg-6 py0 px0" style="background-color: #fff;">
                        <div class="py15 px15 d-block d-lg-none">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="my20 mx15" id="supplyGroup" style="position: relative;">
                            <select id="supply" name="supply" class="select2-main" style="width: 100%;"></select>
                        </div>
                        <div class="d-none d-lg-block">
                        </div>
                        <div class="px15">
                            <div class="calculation">
                                <span class="description">Deployed APY</span>
                                <span class="color-success">{{tokenData[selectedTokenIndex].supplyApy}}%</span>
                            </div>
                            <div class="calculation">
                                <span class="description">Price</span>
                                <span>$ {{tokenData[selectedTokenIndex].priceUsd}}</span>
                            </div>
                            <!-- <div class="calculation">
                                <span class="description">Collateral Factor</span>
                                <span>{{tokenData[selectedTokenIndex].collateralFactor}}%</span>
                            </div> -->
                            <div class="calculation">
                                <span class="description">Non Deployed</span>
                                <span>{{toDecimal(tokenData[selectedTokenIndex].tokenBalance, 2)}}
                                    {{ tokenData[selectedTokenIndex].symbol }}</span>
                            </div>
                            <div class="calculation">
                              <span class="description">Liquidity</span>
                              <span>{{toDecimal(tokenData[selectedTokenIndex].availableBorrow, 2)}}
                                  {{ tokenData[selectedTokenIndex].symbol }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 py0 px0">
                        <div class="py15 px15">
                            <button type="button" class="close d-none d-lg-block" data-dismiss="modal"
                                aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="form" *ngIf="tokenData[selectedTokenIndex].approved">
                                <div class="row">
                                    <div class="col-6">
                                        <button [ngClass]="{'active': typeViewSupply == 'withdraw'}"
                                            class="btn btn-lg btn-full btn-secondary"
                                            (click)="viewWithdrawForm()">Withdraw</button>
                                    </div>
                                    <div class="col-6">
                                        <button [ngClass]="{'active': typeViewSupply == 'supply'}"
                                            class="btn btn-lg btn-full btn-secondary"
                                            (click)="viewSupplyForm()">Deploy</button>
                                    </div>
                                </div>
                                <div class="my30">
                                    <form>
                                        <div class="row align-items-center">
                                            <div class="col-12">
                                                <input type="text" class="form-control form-control-lg text-center"
                                                    placeholder="0" [(ngModel)]="amountInput" name="amountInput">
                                            </div>
                                            <!-- <div class="col-3 text-center">
                                              <a href="" class="link">SAFE MAX</a>
                                            </div> -->
                                        </div>
                                    </form>
                                    <div class="mt30">
                                        <div class="calculation">
                                            <span class="description">Deployed Balance</span>
                                            <span>
                                                ${{toDecimal(tokenData[selectedTokenIndex].cTokenSupplyBalanceUSD, 3)}}
                                                <!-- <mat-icon aria-hidden="false">arrow_forward</mat-icon>$0.00 -->
                                            </span>
                                        </div>
                                        <!-- <div class="calculation">
                                            <span class="description">Borrow Limit</span>
                                            <span>
                                                $ {{ toDecimal(accountLiquidity, 2) }}
                                                <mat-icon aria-hidden="false">arrow_forward</mat-icon>$0.00
                                            </span>
                                        </div> -->
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-lg btn-full btn-secondary" (click)="withdrawUnderlying()"
                                        *ngIf="typeViewSupply == 'withdraw'">Withdraw</button>
                                    <button class="btn btn-lg btn-full btn-secondary" (click)="mint()"
                                        *ngIf="typeViewSupply == 'supply'">Deploy</button>
                                </div>
                            </div>
                            <div class="form mt100" *ngIf="!tokenData[selectedTokenIndex].approved">
                                <div class="text-center">
                                  <img src="assets/img/{{tokenData[selectedTokenIndex].symbol}}_logo.png" style="max-height: 80px;" alt="{{tokenData[selectedTokenIndex].symbol}} logo" />
                                </div>
                                <div class="mt20 mb30" style="font-weight: 500;">
                                    To interact with the OTL protocol using {{tokenData[selectedTokenIndex].symbol}}, you need to enable it first.
                                </div>
                                <button class="btn btn-lg btn-full btn-secondary"
                                    (click)="enableSupplyCollateral()">Enable</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div *ngIf="loadComplete" class="modal fade" id="borrowModal" tabindex="-1" role="dialog" aria-labelledby="borrowModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color: #E6EDF6;">
            <div class="modal-body py0 px0">
                <div class="row my0 mx0">
                    <div class="col-lg-6 py0 px0" style="background-color: #fff;">
                        <div class="py15 px15 d-block d-lg-none">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="my20 mx15" id="borrowGroup" style="position: relative;">
                            <select id="borrow" name="borrow" class="select2-main" style="width: 100%;"></select>
                        </div>
                        <div class="d-none d-lg-block">
                        </div>
                        <div class="px15">
                            <div class="calculation">
                                <span class="description">Borrow APY</span>
                                <span class="color-danger">{{tokenData[selectedTokenIndex].borrowApy}}%</span>
                            </div>
                            <div class="calculation">
                                <span class="description">Price</span>
                                <span>$ {{tokenData[selectedTokenIndex].priceUsd}}</span>
                            </div>
                            <div class="calculation">
                                <span class="description">Borrow Balance</span>
                                <span>{{toDecimal((tokenData[selectedTokenIndex].tokenBorrowBalance), 2)}}
                                    {{ tokenData[selectedTokenIndex].symbol }}</span>
                            </div>
                            <div class="calculation">
                                <span class="description">Wallet</span>
                                <span>{{toDecimal(tokenData[selectedTokenIndex].tokenBalance, 2)}}
                                    {{ tokenData[selectedTokenIndex].symbol }}</span>
                            </div>
                            <div class="calculation">
                                <span class="description">Available to Borrow</span>
                                <span>{{toDecimal(tokenData[selectedTokenIndex].availableBorrow, 2)}}
                                    {{ tokenData[selectedTokenIndex].symbol }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 py0 px0">
                        <div class="py15 px15">
                            <button type="button" class="close d-none d-lg-block" data-dismiss="modal"
                                aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="form" *ngIf="tokenData[selectedTokenIndex].approved">
                                <div class="row">
                                    <div class="col-6">
                                        <button [ngClass]="{'active': typeViewBorrow == 'repay'}"
                                            class="btn btn-lg btn-full btn-danger"
                                            (click)="viewRepayForm()">Repay</button>
                                    </div>
                                    <div class="col-6">
                                        <button [ngClass]="{'active': typeViewBorrow == 'borrow'}"
                                            class="btn btn-lg btn-full btn-danger"
                                            (click)="viewBorrowForm()">Borrow</button>
                                    </div>
                                </div>
                                <div class="my30">
                                    <form>
                                        <div class="row align-items-center">
                                            <div class="col-9">
                                                <input type="text" class="form-control form-control-lg text-center"
                                                    placeholder="0" [(ngModel)]="amountInput" name="amountInput">
                                            </div>
                                            <div class="col-3 text-center">
                          <a href="" class="link">
                            SAFE MAX
                          </a>
                        </div>
                                        </div>
                                    </form>
                                    <div class="mt30">
                                        <div class="calculation">
                                            <span class="description">Borrow Limit</span>
                                            <span>$ {{ toDecimal(accountLiquidity, 2) }}</span>
                                        </div>
                                        <div class="calculation">
                                            <span class="description">Borrow Balance</span>
                                            <span>$ {{toDecimal(borrowBalance, 3)}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-lg btn-full btn-danger" (click)="repayBorrow()"
                                        *ngIf="typeViewBorrow == 'repay'">Repay</button>
                                    <button class="btn btn-lg btn-full btn-danger" (click)="borrow()"
                                        *ngIf="typeViewBorrow == 'borrow'">Borrow</button>
                                </div>
                            </div>
                            <div class="form mt100" *ngIf="!tokenData[selectedTokenIndex].approved">
                                <div class="text-center">
                                    <mat-icon style="font-size: 3rem;" aria-hidden="false">error_outline</mat-icon>
                                </div>
                                <div class="mt20 mb30" style="font-weight: 500;">
                                    To use {{tokenData[selectedTokenIndex].symbol}} with the Konkrete, you need to enable
                                    it first.
                                </div>
                                <button class="btn btn-lg btn-full btn-danger"
                                    (click)="enableBorrowCollateral()">Enable</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="modal fade" id="noMetaMaskModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="noMetaMaskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="py30">
                    <h2>Metamask Not Found!</h2>
                    <p class="lead">Connection to Blockchain could not be established. Please install Metamask plugin
                        for your browser from <a href="https://metamask.io/" target="_blank">metamask.io</a> and then
                        try again.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="metaMaskRejectModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="metaMaskRejectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="py30">
                    <h2>Metamask Connection Denied!</h2>
                    <p class="lead">Please Accept Metamask Connection Request.</p>
                    <button class="btn btn-primary" (click)="reloadPage()">Try Again</button>
                </div>
            </div>
        </div>
    </div>
</div>
